.card {
    background: #9fd4ff;
    color: black;
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    gap:20px
}

.Acao {
    background: rgb(255, 0, 0);
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 95%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.Inferior {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-align: center;
    justify-content: center;
    color: rgb(0, 115, 230);
    font-size: 30px;
    font-family: Lexend, sans-serif;
    /* border: 1px solid red; */
}

.Inferior span {
    font-size: 20px;
    padding-top: 5px;
}