.container-topbar{
    display: flex;
    align-items: center;
    background-color: #0073e6;
    padding: 20px;
    height: 20vh;
    max-height: 150px;
}

.logo-topbar{
    flex: 70%;
}

.right-topbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 20%;
}
.card-topbar{
    background-color: white;
    padding: 10px 20px;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}